{% extends "home/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col">
        <!-- first part of the grid -->
      </div>
      <div class="col">
        <form action="" method="POST" class="loginpage">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="text-center">Sign Up</legend>
                {{ form|crispy }}
            </fieldset>
             <p>Already have an account? <a class="location" href="{% url 'login' %}">Login</a></p>
            <div class="form-group">
                 <button class="btn btn-success" style="width: 100%">Register</button>
    
        </form>
      </div>

    
 
</div>



{% endblock%}